<!DOCTYPE html>
	<head>
		<title>Smoodify</title>
		<link rel="stylesheet" type="text/css" href="../css/base.css">
		<script src="https://use.fontawesome.com/64f15d16fa.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
