<html>
	<head>
		<title>smoodify</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
		<script src="javascripts/smoodifyApp.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
		<link rel="stylesheet" href="stylesheets/base.css">
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/64f15d16fa.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>

	</head>
	<body ng-app="smoodifyApp">
		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<script>
			window.onSpotifyWebPlaybackSDKReady = () => {
				// You can now initialize Spotify.Player and use the SDK
			};
		</script>
		<div id="main" class="container">
			<div ng-view></div>
		</div>
	</body>
</html>