<html>
	<head>
		<meta charset="UTF-8">
		<title>smoodify</title>
		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-resource.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-cookies.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>	
		<script src="javascripts/smoodifyApp.js"></script>
		<script src="services/musicplayer.js"></script>
		<script src="services/spotifyapi.js"></script>
		<script src="services/mood.js"></script>
		<script src="services/auth.js"></script>
		<script src="services/database.js"></script>
		<script src="controllers/authentication.js"></script>
		<script src="controllers/player.js"></script>
		<script src="controllers/main.js"></script>
		<script src="controllers/spotify.js"></script>
		<script src="https://use.fontawesome.com/64f15d16fa.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/base.css">
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
		<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	</head>
	<body ng-app="smoodifyApp">
		<script src="https://sdk.scdn.co/spotify-player.js"></script>
		<script>
			window.onSpotifyWebPlaybackSDKReady = () => {
				// You can now initialize Spotify.Player and use the SDK
			};
		</script>
		<div id="main" class="container">
			<div ng-view></div>
		</div>
	</body>
</html>