<footer class="music-player-container">
    <div class="music-player-bar">
        <div class="music-player-bar-left">
            <div class="track-info">
                <div class="title-wrapper">

                </div>
                <div class="artist-wrapper">

                </div>
            </div>
            <button class="add-song-to-playlist">
                <i class="fas fa-plus-circle"></i>
            </button>
        </div>
        <div class="music-player-bar-center">
            <div class="music-player-buttons">
                <button class="shuffle-button">
                    <i class="fas fa-random"></i>
                </button>
                <button class="skip-back-button">
                    <i class="fas fa-backward"></i>
                </button>
                <button class="play-button">
                    <i class="far fa-play-circle"></i>
                </button>
                <button class="pause-button">
                    <i class="far fa-pause-circle"></i>
                </button>
            </div>
        </div>
        <div class="music-player-bar-right">
            <div class="volume">
                <div="volume-button">
                <button class="volume-mute">
                    <i class="fas fa-volume-up"></i>
                </button>
                </div>
                <div="progress-bar">
                    
                </div>
            </div>
        </div>
    </div>
</footer>