<!DOCTYPE html>
	<head>
		<title>Smoodify</title>
		<link rel="stylesheet" type="text/css" href="../css/base.css">
		<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
		<script src="https://use.fontawesome.com/64f15d16fa.js"></script>
	</head>
	<body>
		{{{body}}}
	</body>
</html>
