.auth-view {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  color: white;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  z-index: 10000;
}

/* SIDEBAR */
#logo {
  text-decoration: none;
  display: block;
  padding-top: 15px;
  position: fixed;
  left: 60px;
  font-size: 18px;
  color: #b781db;
}

#logo-img {
  width: 20px;
}

.sidebar {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(14,11,22, 0.8);
  width: 225px;
  height: 100%;
  overflow: auto;
}

hr {
  width: 185px;
  position: fixed;
  border-color: hsla(0,0%,100%,.6);
  left: 20px;
}

#first-hr {
  top: 40px;
}

#second-hr {
  top: 135px;
}

#third-hr {
  top: 75%;
}

#links {
  display: block;
  padding-top: 72px;
}

#links a, #account {
  display: block;
  padding: 0px 0px 10px 30px;
  font-size: 20px;
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
}

#links a:hover, #account:hover {
  color: white;
}

#mood {
  display: block;
  padding-top: 15px;
}

#mood p {
  display: block;
  padding: 0px 0px 0px 30px;
  font-size: 20px;
  color: hsla(0,0%,100%,.6);
  text-decoration: none;
}

.current-page {
  color: #b781db !important;
}

#account {
  position: absolute;
  bottom: 85px;
}

/* CONTENT */
.content {
  display: block;
  position: fixed;
  top: 0px;
  left: 225px;
  background-color: rgba(14,11,22, 0.95);
  width: calc(100% - 225px);
  height: 100%;
  overflow: auto;
}

/* MUSIC PLAYER FOOTER */
.play-button {
  font-size: 25px;
}

button {
  outline:none;
  border: none;
  background-color: #0e0b16;
}


button:active{
  opacity: 0.5;
}

footer {
  box-shadow: 5px 10px red;
}

.music-player-bar {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: #0e0b16;
}

.music-player-bar-left {
  /*border: 1px solid white;*/
  position: fixed;
  width: 33.33%;
  float: left;
  left: 0px;
  display: block;
  top: 25%;
}

.title-wrapper {
  display: inline-block;
  position: fixed;
  left: 70px;
  bottom: 25px; 
  float:left;
}

.artist-wrapper {
  color: hsla(0,0%,100%,.6);
  position: fixed;
  left: 70px;
  bottom: 5px; 
  float:left;
  font-size: 12px;
}

.album-wrapper {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  left: 10px;
}

.fa-heart, .fa-ban {
  display: inline-block;
  color: hsla(0,0%,100%,.6);
  padding-left: 10px;
}

.fa-heart:hover, .fa-ban:hover, 
.skip-back-button:hover, .play-button:hover, .skip-forward-button:hover {
  color: #b781db; 
}

.music-player-bar-center {
  text-align: center;
  position: fixed;
  bottom: 30px;
  width: 33.33%;
  left: 33.33%;
}
  
.music-player-bar-right {
  position: fixed;
  bottom: 30px;
  width: 33.33%;
  left: 80%;
}

.volume-button {
  position:relative;
  top: 2px;
  display: inline-block;

}

.volume-bar-wrapper {
  position: relative;
  top: 4px;
  width: 150px;
  background-color: #0e0b16;
  display: inline-block;
}


#progress {
  position: fixed;
  bottom: 70px;
  left: 0px;
  width: 100%;
  min-height: 5px;
  background-color: #ddd;
}

#progress-bar {
  width: 0%;
  min-height: 5px;
  background-color: #b781db;
}

