body {
  background: #0e0b16;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}


/* Code for Music Player Footer */

.play-button {
  font-size: 25px;
}

/*@media screen and (max-width: 799px) {

  button {
    outline:none;
    border: none;
    background-color: #0e0b16;
  }


  button:active{
    opacity: 0.5;
  }

  .music-player-bar {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #0e0b16;
  }

  .music-player-bar-left {
    border: 1px solid white;
    position:relative;
    width: 33.33%;
    float:left;
  }

  .title-wrapper {
    position:relative;
    width:20%;
    left: 20px;
    float:left;

  }

  .artist-wrapper {
    position:relative;
    width: 20%;
    left: 30px;
    float:left;
  }

  .add-song-to-playlist {
    position:relative;
    width:20%;
    top: 15px;
    left: 50px;
    float:left;
  }

  .music-player-bar-center {
    position: relative;
    top: 11px;
    width: 33.33%;
    left: 150px;
    float: left;
  }

  .music-player-bar-right {
    position: relative;
    top: 10px;
    width: 33.33%;
    left:200px;
    float: left;
  }


  .volume-button {
    position:relative;
    left: 50px;
    top: 2px;
    float:left;
  }

  .progress-bar {
    position:relative;
    left: 55px;
    bottom: 5px;
    float:left;
  }

}


@media screen and (min-width: 800px) and (max-width:1199px) {

  button {
    outline:none;
    border: none;
    background-color: #0e0b16;
  }
  
  
  button:active{
    opacity: 0.5;
  }
  
  .music-player-bar {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 60px;
    bottom: 0px;
    background-color: #0e0b16;
  }
  
  .music-player-bar-left {
    border: 1px solid white;  
    position:relative;
    width: 33.33%;
    float:left;
  }
  
  .title-wrapper {
    position:relative;
    left: 20px;
    float:left;
  
  }
  
  .artist-wrapper {
    position:relative;
    left: 30px;
    float:left;
  }
  
  .add-song-to-playlist {
    position:relative;
    top: 15px;
    left: 50px;
    float:left;
  }
  
  .music-player-bar-center {
    position: relative;
    top: 11px;
    width: 33.33%;
    left: 150px;
    float: left;
  }
   
  .music-player-bar-right {
    position: relative;
    top: 10px;
    width: 33.33%;
    left:200px;
    float: left;
  }
  
  .volume-button {
    position:relative;
    left: 50px;
    top: 2px;
    float:left;
  }
  
  .progress-bar {
    position:relative;
    left: 55px;
    bottom: 5px;
    float:left;
  }
}*/


/* correct */
/* The progress bar goes off the screen at */
@media screen and (min-width: 1200px) {

  button {
    outline:none;
    border: none;
    background-color: #0e0b16;
  }
  
  
  button:active{
    opacity: 0.5;
  }
  
  .music-player-bar {
    position: fixed;
    left: 0px;
    width: 100%;
    height: 70px;
    bottom: 0px;
    background-color: #0e0b16;
  }
  
  .music-player-bar-left {
    /*border: 1px solid white;*/
    position: fixed;
    width: 33.33%;
    float: left;
    left: 0px;
    display: block;
    top: 25%;
  }
  
  .title-wrapper {
    display: inline-block;
    position: fixed;
    left: 70px;
    bottom: 25px; 
    float:left;
  }
  
  .artist-wrapper {
    color: hsla(0,0%,100%,.6);
    position: fixed;
    left: 70px;
    bottom: 5px; 
    float:left;
    font-size: 12px;
  }
  
  .album-wrapper {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
  }

  .fa-heart, .fa-ban {
    display: inline-block;
    color: hsla(0,0%,100%,.6);
    padding-left: 10px;
  }

  .fa-heart:hover, .fa-ban:hover, .shuffle-button:hover, 
  .skip-back-button:hover, .play-button:hover, .skip-forward-button:hover, 
  .replay-button:hover {
    color: #b781db;
  }

  .music-player-bar-center {
    text-align: center;
    position: fixed;
    bottom: 30px;
    width: 33.33%;
    left: 33.33%;
  }
    
  .music-player-bar-right {
    position: fixed;
    bottom: 30px;
    width: 33.33%;
    left: 80%;
  }
  
  .volume-button {
    position:relative;
    top: 2px;
    float:left;
  }
  
  .progress-bar {
    width: 150px;
    background-color: #0e0b16;
  }

}