/* MAIN PAGE */
#main-page {
  text-align: center;
  width: calc(100% - 225px);
  position: absolute;
  display: block;
  -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
     -o-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
  left: 50%;
  top: 35%;
  /*border: 1px solid white;*/
}

#main-page h1 {
  font-size: 5em;
}

#main-page .em {
  font-size: 0.6em;
}