/* SAVED ALBUMS */
/*
#album-list {
  width: 95%;
  height: 100%;
  margin-top: 2.5%;
  margin-left: 2.5%;
  color: white;
  margin-bottom: 15%;
}

.album-in-list {
  width: 18%;
  margin: 1% 1% 1% 1%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
}

.album-name {
  padding-top: 0.5%;
  padding-left: 5px;
  width: 170px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.artist-name {
  color: hsla(0,0%,100%,.6);
  font-size: 13px;
  padding-left: 5px;
  width: 170px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.play-album {
  display: none;
}

.play-album:hover {
  text-shadow: #FFFFFC 0 0 10px;
  position: absolute;
  -webkit-transform: scale(1.2);
     -moz-transform: scale(1.2);
     -o-transform: scale(1.2);
      transform: scale(1.2);
}

.cover {
  width: 180px;  
}

.album-cover {
  width: 180px;  
  height: 180px;
  position: relative;
  cursor: pointer;
}

.album-cover:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(14,11,22, 0.5);
  -moz-transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.album-cover:before {
  background: none;
}

.album-cover:hover > .play-album {
  display: block;
  font-size: 60px;
  width: 100%;
  margin-top: 60px;
  position: absolute;
}
*/