/* SAVED PLAYLISTS */

#playlist-list {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  margin-bottom: 10%;
  vertical-align: middle;
}

#playlist-list td:not(:first-child) {
  padding: 15px 15px 10px 15px;
}

#playlist-list td:nth-child(1) { 
  padding: 25px 0px 10px 20px;
}

#playlist-list tr:hover {
  background-color: #0e0b16;
}

#playlist-list tr:hover > .play-playlist {
  visibility: visible;
}

#playlist-list .playlist-name {
  color: hsla(0,0%,100%,.6);
  /*font-size: 13px;*/
}

.play-playlist {
  visibility: hidden;
}

.cover {
	width: 180px;
}