/* SAVED SONGS */

#song-list {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  color: white;
  margin-bottom: 10%;
}

#song-list td:not(:first-child) {
  vertical-align: top;
  padding: 15px 15px 10px 0px;
}

#song-list td:nth-child(1) { 
  padding: 25px 0px 10px 20px;
}

#song-list tr:hover {
  background-color: #0e0b16;
}

#song-list tr:hover > .play-song {
  visibility: visible;
}

#song-list .artist-album {
  color: hsla(0,0%,100%,.6);
  font-size: 13px;
}

.play-song {
  visibility: hidden;
}

