<div class="unauth-view" ng-hide="authenticated">
	<div id="gradient">
		<a href="/" id="logo"> <img src="../images/logo.png" id="logo-img"> smoodify </a>

		<div class="buttons">
			<a ng-click="switchRegister()"><button class="button button-block" id="register-button">Get Started</button></a>
			<div id="member">
				<p>already a member?</p>
			</div>
			<a ng-click="switchLogin()"><button class="button button-block" id="login-button">Log In</button></a>
		</div>

		<div id="line"></div>

		<div id="right-container">
			<div id="intro-text">
				<div class="big-blurb">
					<span class="bold">smoodify</span> is a music streaming application that <span class="bold">dynamically</span> understands your <span class="bold">mood</span> and suggests tunes based on it
				</div>

				<div id="cases-blurb">
					Feeling down? smoodify will be a shoulder to lean on. <br>
					Down to clown? smoodify will vibe with you. <br>
					At the gym and need a push? smoodify will be there to get you hyped up. <br><br>
				</div>

				<div id="sign-up-blurb">
					<span class="bold">Sign up</span> to find out more!
				</div>
			</div>

			<div id="login-text">
				<h1>Welcome Back!</h1>
				<p class="text-warning">{{error_message}}</p>
				
				<form id="login" class="form-auth" ng-submit="login()">
					<div class="field-wrapper">
						<label>Username</label>
						<input type="username" required ng-model="user.username"><br>
					</div>
					<div class="field-wrapper">
						<label>Password</label>
						<input type="password" required ng-model="user.password"><br>
					</div>
					
					<button class="button button-block">Log In</button>
				</form>
			</div>

			<div id="register-text">
				<h1>Welcome Aboard!</h1>

				<p class="text-warning">{{error_message}}</p>
				
				<form id="register" class="form-auth" ng-submit="register()">
					<div class="field-wrapper">
						<label>Username*</label>
						<input type="username" required ng-model="user.username"><br>
					</div>
					<div class="field-wrapper">
						<label>Password*</label>
						<input type="password" required ng-model="user.password"><br>
					</div>

					<button type="submit" class="button button-block"/>Get Started</button>

				</form>
			</div>

		</div>
	</div>
</div>


<div class="auth-view" ng-show="authenticated">
	<div id="loading-gradient">
		<div id="loading-text">
			<h1>Please wait while we load your tunes!</h1>
			<h1><i class="fas fa-spinner"></i></h1>
		</div>
		<a href="/account">account</a>
	</div>

    <div class="sidebar">
        <a href="" id="logo"> <img src="../images/logo.png" id="logo-img"> smoodify </a> 
        <hr id="first-hr">

        <nav id="links">
            <a href="" class="current-page">Home</a>
            <a href="">Saved Songs</a>
        <!--<a href="">Mood Playlists</a>
            <a href="">Top Artists</a>
            <a href="">Top Songs</a>-->
        </nav>
        <hr id="second-hr">
        <nav id="mood">
            <p>Current Mood:</p>
            <p id="current-mood">
                <span ng-show="currentMood">{{currentMood}}</span>
                <span ng-hide="currentMood">None yet!</span>
            </p>
        </nav>
        <hr id="third-hr">
        <a href="" id="account">My Account</a>
    </div>

    <div class="content">
    </div>

    <footer class="music-player-container">
        <div id="progress">
            <div id="progress-bar">

            </div>
        </div>
        <div class="music-player-bar">
            <div class="music-player-bar-left">
                <div class="track-info">
                    <img ng-src="{{currentlyPlaying.imgSrc}}" class="album-wrapper">
                    <div class="title-wrapper">
                        <p ng-bind="currentlyPlaying.songTitle"><i class="fas fa-heart"></i> <i class="fas fa-ban"></i></p> 
                    </div>
                    <div class="artist-wrapper">
                        <p ng-bind="currentlyPlaying.artistName"></p>
                    </div>
                </div>
            </div>
            
            <div class="music-player-bar-center">
                <div class="music-player-buttons">
                    <!--<button ng-click="" class="shuffle-button">
                        <i class="fas fa-random"></i>
                    </button>-->
                    <button ng-click="" class="skip-back-button">
                        <i class="fas fa-backward"></i>
                    </button>
                    <button ng-click="" class="play-button">
                        <i class="far fa-play-circle"></i>
                    </button>
                    <!-- <button class="pause-button">
                        <i class="far fa-pause-circle"></i>
                    </button> -->
                    <button ng-click="" class="skip-forward-button">
                        <i class="fas fa-forward"></i>
                    </button>
                <!--<button class="replay-button">
                        <i class="fas fa-redo-alt"></i>
                    </button> -->
                </div>
            </div>
            <div class="music-player-bar-right">
                <div class="volume-button">
                    <button ng-click="" class="volume-mute">
                        <i class="fas fa-volume-up"></i>
                    </button>
                </div>
                <div class="volume-bar-wrapper">
                    <input ng-change="" ng-model="vol" type="range" min="0" max="100" class="volume-bar">
                </div>
            </div>
        </div>
    </footer>
</div>