<div class="auth-view" ng-show="authenticated">
	<div class="sidebar">
		<a href="/browse" id="logo"> <img src="../images/logo.png" id="logo-img"> smoodify </a> 
		<hr id="first-hr">

		<nav id="links">
			<a href="/browse">Home</a>
			<a href="/saved_songs">Saved Songs</a>
		<!--<a href="/mood_playlists" class="current-page">Mood Playlists</a>
			<a href="/top_artists">Top Artists</a>
			<a href="/top_songs">Top Songs</a> -->
		</nav>
		<hr id="second-hr">
		<nav id="mood">
            <p>Current Mood:</p>
            <p id="current-mood">
            	<span ng-show="currentMood">{{currentMood}}</span>
            	<span ng-hide="currentMood">None yet!</span>
            </p>
        </nav>
		<hr id="third-hr">
		<a href="/account" id="account">My Account</a>
	</div>


	<!-- Playlist List -->
	<div class="content" id="saved-music-page">
		<table id="playlist-list">
			<tr ng-repeat="playlist in playlists" class="playlist-in-list">
				<td class="playlist-cover" ng-repeat="image in playlist.images | limitTo: 1">
					<div class="play-playlist far fa-play-circle"></div>
					<img ng-src="{{image.url}}" class="cover">
				</td>
				<td class="playlist-info">
					<h3>{{playlist.name}}</h3>
					<p>by {{playlist.owner.id}}</p>
					<p>{{playlist.tracks.total}} tracks</p>
				</td>
			</tr>
		</table>
	</div>

	<div class="music-progress-bar">
		<input ng-change="setVolume()" ng-model="vol" type="range" min="0" max="100" class="volume-bar">
	</div>

	<footer class="music-player-container">
		<div class="music-player-bar">
			<div class="music-player-bar-left">
				<div class="track-info">
					<img ng-src="{{imgSrc}}" class="album-wrapper">
					<div class="title-wrapper">
						<p ng-bind="songTitle"><i class="fas fa-heart"></i> <i class="fas fa-ban"></i></p> 
					</div>
					<div class="artist-wrapper">
						<p ng-bind="artistName"></p>
					</div>
				</div>
			</div>
			<div class="music-player-bar-center">
				<div class="music-player-buttons">
					<!--<button ng-click="shuffle()" class="shuffle-button">
						<i class="fas fa-random"></i>
					</button> -->
					<button ng-click="previous()" class="skip-back-button">
						<i class="fas fa-backward"></i>
					</button>
					<button ng-click="play()" class="play-button">
						<i class="far fa-play-circle"></i>
					</button>
					<!-- <button class="pause-button">
						<i class="far fa-pause-circle"></i>
					</button> -->
					<button ng-click="skip()" class="skip-forward-button">
						<i class="fas fa-forward"></i>
					</button>
					<!--<button class="replay-button">
						<i class="fas fa-redo-alt"></i>
					</button> -->
				</div>
			</div>
			<div class="music-player-bar-right">
				<div class="volume-button">
					<button ng-click="mute()" class="volume-mute">
						<i class="fas fa-volume-up"></i>
					</button>
				</div>
				<div class="progress-bar">
					<input ng-change="setVolume()" ng-model="vol" type="range" min="0" max="100" class="volume-bar">
				</div>
			</div>
		</div>
	</footer>
</div>

