<div class="auth-view" ng-show="authenticated">
	<div class="sidebar">
		<a href="/browse" id="logo"> <img src="../images/logo.png" id="logo-img"> smoodify </a> 
		<hr id="first-hr">

		<nav id="links">
			<a href="/browse">Home</a>
			<a href="/saved_songs" class="current-page">Saved Songs</a>
		<!--<a href="/mood_playlists">Mood Playlists</a>
			<a href="/top_artists">Top Artists</a>
			<a href="/top_songs">Top Songs</a>-->
		</nav>
		<hr id="second-hr">
		<nav id="mood">
            <p>Current Mood:</p>
            <p id="current-mood">
            	<span ng-show="currentMood">{{currentMood}}</span>
            	<span ng-hide="currentMood">None yet!</span>
            </p>
        </nav>
		<hr id="third-hr">
		<a href="/account" id="account">My Account</a>
	</div>


	<!-- Song List -->
	<div class="content" id="saved-music-page">
		<table id="song-list">
			<tr ng-repeat="song in current_user.saved_songs" class="song-in-list">
				<!-- Play button keeps disappearing in big screens! -->
				<td ng-click="playSong(song)" class="play-song fas fa-play"></td>
				<td class='song-info'>
					<p class="song-name">
						{{song.name}}
					</p>
					<p class="artist-album">
					<span ng-repeat="artist in song.artist" class="artist">
						<span ng-class='{in:$first}'>{{artist.name}}</span>
					</span> &bull;
					<span class="album">{{song.album.name}}</span>
				</td>
				<td>{{song.duration}}</td>
			</tr>
		</table>
	</div>


	<footer class="music-player-container">
		<div id='progress' ng-click="seek($event)" ng-mouseover="enlarge($event)" ng-mouseleave="shrink($event)">
			<div id='progress-bar'>

			</div>
		</div>
		<div class="music-player-bar">
			<div class="music-player-bar-left">
				<div class="track-info">
					<img ng-src="{{currentlyPlaying.imgSrc}}" class="album-wrapper">
					<div class="title-wrapper">
						<p ng-bind="currentlyPlaying.songTitle"><i class="fas fa-heart"></i> <i class="fas fa-ban"></i></p> 
					</div>
					<div class="artist-wrapper">
						<p ng-bind="currentlyPlaying.artistName"></p>
					</div>
				</div>
			</div>
			
			<div class="music-player-bar-center">
				<div class="music-player-buttons">
					<!--<button ng-click="shuffle()" class="shuffle-button">
						<i class="fas fa-random"></i>
					</button>
					<button ng-click="previous()" class="skip-back-button">
					</button>
						<i class="fas fa-backward"></i>
					</button> -->
					<button ng-click="play()" class="play-button">
						<i class="far fa-play-circle"></i>
					</button>
					<!-- <button class="pause-button">
						<i class="far fa-pause-circle"></i>
					</button> -->
					<button ng-click="skip()" class="skip-forward-button">
						<i class="fas fa-forward"></i>
					</button>
					<!--<button class="replay-button">
						<i class="fas fa-redo-alt"></i>
					</button>-->
				</div>
			</div>
			<div class="music-player-bar-right">
				<div class="volume-button">
					<button ng-click="mute()" class="volume-mute">
						<i class="fas fa-volume-up"></i>
					</button>
				</div>
				<div class="volume-bar-wrapper">
					<input ng-change="setVolume()" ng-model="vol" type="range" min="0" max="100" class="volume-bar">
				</div>
			</div>
		</div>
	</footer>
</div>


