<div class="unauth-view" ng-hide="authenticated">
	<div id="gradient">
		<a href="#" id="logo"> <img src="../images/logo.png" id="logo-img"> smoodify </a>
		
		<div class="buttons">
			<a href="#/register"><button class="button button-block" id="register-button">Get Started</button></a>
			<div id="member">
				<p>already a member?</p>
			</div>
			<a href="#/login"><button class="button button-block" id="login-button">Log In</button></a>
		</div>

		<div id="line"></div>

		<div id="right-container">
			<h1>Welcome Back!</h1>

			<p class="text-warning">{{error_message}}</p>
			
			<form id="login" class="form-auth" ng-submit="login()">
				<div class="field-wrapper">
					<label>Username</label>
					<input type="username" required ng-model="user.username"><br>
				</div>
				<div class="field-wrapper">
					<label>Password</label>
					<input type="password" required ng-model="user.password"><br>
				</div>
				
				<!-- <div id="forgot">
					<a href="#">Forgot Password?</a>
				</div> -->
				<button class="button button-block">Log In</button>
				<!-- <h2>Log In</h2>
				<p class="text-warning">{{error_message}}</p>
				<input type="username" ng-model="user.username" placeholder="Username" class="form-control"><br>
				<input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
				<input type="submit" value="Log in" class="btn btn-primary" /> -->
			</form>
		</div>
	</div>
</div>